<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Smart Mirror</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>{{ time }}</h1>
        <p>{{ date }}</p>

        <div class="weather">
            <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="Pogoda">
            <p>{{ weather.temp }}°C – {{ weather.desc }}</p>
        </div>

        <h3 style="text-align: center;">Prognoza na dziś:</h3>
        <div class="forecast-container">
            {% for item in forecast %}
                <div class="forecast-item">
                    <p><strong>{{ item.time }}</strong></p>
                    <img src="https://openweathermap.org/img/wn/{{ item.icon }}@2x.png" alt="{{ item.desc }}">
                    <p>{{ item.temp }}°C</p>
                    <p>{{ item.desc }}</p>
                </div>
            {% endfor %}
        </div>

        <h2>Dzisiaj:</h2>
        <ul>
            {% for event in today_events %}
                <li>
                {% if event.time %}
                    {{ event.time }} – {{ event.title }}
                {% else %}
                    {{ event.title }}
                {% endif %}
                </li>
            {% else %}
                <li>Brak wydarzeń na dziś</li>
            {% endfor %}
        </ul>

        <h2>Przyszłe:</h2>
        <ul>
            {% for event in future_events %}
                <li>
                    {{ event.date_str }}
                    {% if event.time %}
                        {{ event.time }} –
                    {% endif %}
                    {{ event.title }}
                </li>
            {% else %}
                <li>Brak nadchodzących wydarzeń</li>
            {% endfor %}
        </ul>

        <h2>Zadania:</h2>
        <ul>
            {% for task in tasks %}
                <li>{{ task.due }} – {{ task.title }}</li>
            {% else %}
                <li>Brak zadań</li>
            {% endfor %}
        </ul>
    </div>

<script>
let hotwordDetected = false;
const interval = setInterval(() => {
    if (hotwordDetected) return;

    fetch('/check_hotword')
        .then(response => response.json())
        .then(data => {
            console.log("Hotword check:", data);
            if (data.detected === true) {
                hotwordDetected = true;  // zapobiega kolejnym sprawdzeniom
                clearInterval(interval); // opcjonalnie zatrzymuje całkowicie
                window.location.href = '/user/asystent_chat';
            }
        })
        .catch(error => {
            console.error("Błąd fetch:", error);
        });
}, 1000);
</script>
</body>
</html>
