<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Smart Mirror</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>{{ time }}</h1>
        <p>{{ date }}</p>

        <div class="weather">
            <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">
            <p>{{ weather.temp }}°C – {{ weather.desc }}</p>
        </div>

        <h3 style="text-align: center;">Prognoza na dziś:</h3>
        <div class="forecast-container">
            {% for item in forecast %}
                <div class="forecast-item">
                    <p><strong>{{ item.time }}</strong></p>
                    <img src="https://openweathermap.org/img/wn/{{ item.icon }}@2x.png" alt="{{ item.desc }}">
                    <p>{{ item.temp }}°C</p>
                    <p>{{ item.desc }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        let currentUserId = null;

        async function checkUser() {
            try {
                const response = await fetch('/check_user');
                if (!response.ok) return;
                const data = await response.json();

                if (data.user_id !== currentUserId) {
                currentUserId = data.user_id;
                // Przekieruj lub odśwież stronę user
                window.location.href = "/user";
                }
            } catch (e) {
            console.error('Błąd podczas sprawdzania użytkownika:', e);
            }
        }
        // Sprawdzaj co 1 sekundę
        setInterval(checkUser, 1000);
    </script>
</body>
</html>
